/* Непривычное форматирование фигурных скобок это нормально */
a[href="https://htmlreference.io"] {
	color: teal;
}

a[href="https://cssreference.io"] {
	color: orange;
}

a[href="https://www.youtube.com"] {
	color: tomato;
}
